<!doctype html>
<html lang="en">

<head>
  <title>Polls</title>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS v5.2.1 -->
  <link rel="stylesheet" href="../bootstrap/bootstrap.min.css" />
</head>
<style>
  .active {
    background-color: green !important;
    color: white !important;
  }
</style>

<body>
  <!-- Start toast session -->
  <div class="toast-container position-fixed top-0 end-0 p-3">
    <div id="basicToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header bg-success text-white">
        <strong class="me-auto toast-title">Bootstrap</strong>
        <small class="text-white">just now</small>
        <button style="color: white !important;" type="button" class="btn-close text-white" data-bs-dismiss="toast"
          aria-label="Close"></button>
      </div>
      <div class="toast-body">
        Hello, world! This is a toast message.
      </div>
    </div>
    <!-- End toast session -->
  </div>
  <header>
    <!--Start nav tabs -->
    <ul class="nav nav-tabs" id="navId" role="tablist">
      <li class="nav-item">
        <a href="#tab1Id" class="nav-link active" data-id="0" data-bs-toggle="tab" aria-current="page">Polls</a>
      </li>
      <li class="nav-item" role="presentation">
        <a href="#tab5Id" class="nav-link" data-id="1" data-bs-toggle="tab">Create</a>
      </li>
      <li class="nav-item" role="presentation">
        <a href="#tab5Id" class="nav-link" data-id="2" data-bs-toggle="tab">List</a>
      </li>
    </ul>
    <!-- End nav tabs -->
  </header>
  <main>

    <div class="home-container col-6 m-auto d-none">
    </div>
    <div class="col-6 m-auto"><button type="button" class="btn btn-success mt-5 d-none retain-btn">Retain</button></div>
    <div class="create-poll-container d-none">
      <div class="col-6 m-auto">
        <h1 class=" my-5">Create Interview</h1>
        <div class="col-10">
          <div class="col-10 m-auto">
            <input name="name_poll" type="text" class="form-control name_poll_container" aria-describedby="helpId"
              placeholder="Name poll" />
          </div>
          <div class="question_content">
          </div>
        </div>

        <div class="mt-5">
          <button type="button" class="btn btn-success add_question_btn">+ Add question</button>
        </div>
      </div>
      <div class="col-12 d-flex justify-content-center">
        <button type="button" class="btn btn-primary add_poll_btn">+ Add Poll</button>
      </div>
    </div>
    <div class="list-poll-container d-none container mt-5">
      <div class="col-3">
        <ul class="nav nav-tabs" id="navId" role="tablist">
          <li class="nav-item">
            <a href="#tab1Id" class="nav-link poll-nav-item " data-bs-toggle="tab" aria-current="page">Active</a>
          </li>
          <li class="nav-item" role="presentation">
            <a href="#tab5Id" class="nav-link poll-nav-item" data-bs-toggle="tab">Drafts</a>
          </li>
          <li class="nav-item" role="presentation">
            <a href="#" class="nav-link poll-nav-item" data-bs-toggle="tab">Closed</a>
          </li>
        </ul>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-5">

        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>The list of questions and issues whithin</th>
              <th class="text-center">Management</th>
            </tr>
          </thead>
          <tbody id="polls">

            </tr>
          </tbody>
        </table>

      </div>

    </div>

  </main>
  <footer>
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="../bootstrap/popper.min.js"></script>
  <script src="../bootstrap/jquery.min.js"></script>
  <script src="../bootstrap/bootstrap.min.js"></script>
  <script src="../bootstrap/893b07513b.js"></script>

  <!-- Application Javascript -->
  <script type="module" src="../controller/question.controller.js"></script>
  <script type="module" src="../controller/home.controller.js"></script>
  <script type="module" src="../controller/answer-question.js"></script>
  <script type="module" src="../controller/list-poll.controller.js"></script>
</body>

</html>
